@font-face {
    font-family: 'Questrial';
    src: url('http://reatlat.github.io/assets/HeadsUp/fonts/questrial/QuestrialRegular.eot');
    src: url('http://reatlat.github.io/assets/HeadsUp/fonts/questrial/QuestrialRegular.eot') format('embedded-opentype'),
         url('http://reatlat.github.io/assets/HeadsUp/fonts/questrial/QuestrialRegular.woff2') format('woff2'),
         url('http://reatlat.github.io/assets/HeadsUp/fonts/questrial/QuestrialRegular.woff') format('woff'),
         url('http://reatlat.github.io/assets/HeadsUp/fonts/questrial/QuestrialRegular.ttf') format('truetype'),
         url('http://reatlat.github.io/assets/HeadsUp/fonts/questrial/QuestrialRegular.svg#QuestrialRegular') format('svg');
}