@font-face {
    font-family: 'Montserrat Bold';
    src: url('http://reatlat.github.io/assets/HeadsUp/fonts/montserrat/MontserratBold.eot');
    src: url('http://reatlat.github.io/assets/HeadsUp/fonts/montserrat/MontserratBold.eot') format('embedded-opentype'),
         url('http://reatlat.github.io/assets/HeadsUp/fonts/montserrat/MontserratBold.woff2') format('woff2'),
         url('http://reatlat.github.io/assets/HeadsUp/fonts/montserrat/MontserratBold.woff') format('woff'),
         url('http://reatlat.github.io/assets/HeadsUp/fonts/montserrat/MontserratBold.ttf') format('truetype'),
         url('http://reatlat.github.io/assets/HeadsUp/fonts/montserrat/MontserratBold.svg#MontserratBold') format('svg');
}
